.hidden {
  display: none;
}

.wikipedia {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.wtabsn-cont {
  width: 20vh;
  height: 100vh;
  overflow-y: scroll;
  background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
    url(./images/bg/wiki1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.wt-name {
  font-size: 2.5vh;
  width: 100%;
  height: 10vh;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.wt-wiki {
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% -1.5px);
  height: 10vh;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.3s;
}

.wt-name,
.wlc-img {
  cursor: pointer;
}

.wt-name:hover {
  border: yellow 1px solid;
  color: yellow;
}

.wleave-cont {
  height: 6vh;
  width: calc(90vw - 20vh);
  display: flex;
  justify-content: end;
  padding: 2vh 5vw;
  background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
    url(./images/bg/wiki2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

.wlc-img {
  height: 100%;
  width: fit-content;
}

.wtab-cont {
  height: 90vh;
  width: calc(100vw - 20vh);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0));
  overflow: scroll;
}

sm {
  font-family: lobster;
}

/* MODAL-CANVAS */

.disc-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
  align-items: center;
  color: red;
  font-size: 20px;
}

.disc-cont h1 {
  font-family: lobster;
}

.ok {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  outline: none;
  border: white 1px solid;
  border-radius: 10px;
  opacity: 0.5;
  font-size: 12px;
  font-family: lobster;
  height: 50px;
  width: 100px;
  transition: 0.3s;
  cursor: pointer;
}

.ok:hover {
  opacity: 1;
}

.white {
  animation: whitee 4s ease-out;
}

.ok,
.okk {
  color: rgb(0, 255, 170);
  opacity: 1;
  width: 200px;
  height: 100px;
  font-size: 20px;
}

@keyframes whitee {
  from {
  }

  to {
    background-color: white;
    color: white;
  }
}

@font-face {
  font-family: Animefont;
  src: url(./font.ttf);
}

::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: Animefont;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: white;
}

.parent {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

section,
footer {
  scroll-snap-stop: always;
  scroll-snap-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #000000, #ffffff, #666666);
}

#nav {
  width: 80vw;
  height: 11vh;
  background: #00000080;
  backdrop-filter: blur(5px);
  padding: 2vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 100%;
  width: fit-content;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4vh;
  flex-wrap: wrap;
  height: 100%;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin: 0.5vw 0.5vw;
}

#main {
  filter: brightness(0.8);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/bg/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.main-basic-cont {
  width: 80vw;
  height: 65vh;
  padding: 10vh 10vw;
  font-size: 5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-img {
  height: 37.5vh;
}

#wiki {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  filter: brightness(0.8);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/bg/wiki.jpg);
  width: 80vw;
  height: 50vh;
  padding: 25vh 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

.wiki-h1 {
  font-size: 12vw;
}

.wiki-h3 {
  font-size: 6vh;
  margin: 2vh 0;
}

.wiki-btn {
  font-size: 8vh;
  padding: 1vh 5vw;
  border: none;
  border-radius: 4vh;
  background: linear-gradient(95deg, #950000 28%, #006197 100%);
  cursor: pointer;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
}

.gwrapper {
  height: 90%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gslider {
  background-color: #ddd;
  height: 60vh;
  width: 105vh;
  position: relative;
  box-shadow: 0 0 80px black;
  border-radius: 5vw;
}

.gwrapper > input {
  display: none;
}

.gslides {
  height: inherit;
  width: inherit;
  background-size: cover;
  background-position: center;
  position: absolute;
  border-radius: 1vw;
}

.gslide1 {
  background-image: url(./images/gallery/1.png);
}
.gslide2 {
  background-image: url(./images/gallery/5.png);
}
.gslide3 {
  background-image: url(./images/gallery/2.png);
}
.gslide4 {
  background-image: url(./images/gallery/4.png);
}
.gslide5 {
  background-image: url(./images/gallery/3.png);
}

.gwrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 1.5vw;
  position: relative;
  transition: background ease-in-out 0.5s;
}

.gwrapper label:after {
  border: 2px solid #ddd;
  content: " ";
  height: 12px;
  width: 12px;
  position: absolute;
  left: -4px;
  top: -4px;
  border-radius: 50%;
}

.gwrapper label:hover,
#gslide1:checked ~ .gcontrols label:nth-child(1),
#gslide2:checked ~ .gcontrols label:nth-child(2),
#gslide3:checked ~ .gcontrols label:nth-child(3),
#gslide4:checked ~ .gcontrols label:nth-child(4),
#gslide5:checked ~ .gcontrols label:nth-child(5) {
  background: rgb(255, 0, 0);
}

.gslides {
  opacity: 0;
  z-index: 0;
  transform: scale(1.25);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  border-radius: 1vw;
}

#gslide1:checked ~ .gslider > .gslide1,
#gslide2:checked ~ .gslider > .gslide2,
#gslide3:checked ~ .gslider > .gslide3,
#gslide4:checked ~ .gslider > .gslide4,
#gslide5:checked ~ .gslider > .gslide5 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

#links {
  filter: brightness(0.8);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/bg/links.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 80vw;
  height: 90vh;
  padding: 5vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lh1 {
  font-size: 8vh;
  width: 80%;
  text-align: center;
}

.lltl-cont,
.llinktl {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 5vh;
}

.llinktl small {
  font-size: 3vh;
  text-decoration: underline;
}

.llinktl .lsa2 {
  font-size: 15vh;
  text-decoration-thickness: 2%;
}

#footer {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/bg/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.ftwol {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  width: 50%;
}

.flinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 4vw;
}

.fl-h1 {
  font-size: 6vh;
}

.fl-a {
  font-size: 3vh;
}

@media (orientation: portrait), (max-height: 500px) {
  .wikipedia {
    flex-direction: row;
  }

  .wtabsn-cont {
    width: 80vw;
    height: 24vh;
    overflow-x: scroll;
    background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
      url(./images/bg/wiki2.png);
    display: flex;
  }

  .wt-name {
    flex-shrink: 0;
    font-size: 2.5vh;
    width: 30vh;
    height: 100%;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
  }

  .wt-wiki {
    flex-shrink: 0;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: calc(100% - 1.5px);
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
  }

  .wt-name,
  .wlc-img {
    cursor: pointer;
  }

  .wt-name:hover {
    border: yellow 1px solid;
    color: yellow;
  }

  .wleave-cont {
    height: 20vh;
    width: 10vw;
    display: flex;
    justify-content: end;
    padding: 2vh 5vw;
    background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
      url(./images/bg/wiki2.png);
  }

  .wlc-img {
    height: 100%;
    width: 100%;
  }

  .wtab-cont {
    height: 76vh;
    width: 100vw;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0));
    overflow: scroll;
  }

  .wt-h1 {
    font-size: 13vw;
  }

  .wt-p {
    font-size: 6vw;
  }

  #nav {
    height: 21vh;
    flex-direction: column;
  }

  .nav-logo {
    width: 100%;
    height: 60%;
  }

  .nav-links {
    width: 100%;
    font-size: 4vh;
  }
}

@media (max-height: 500px) {
  .wiki-h1 {
    font-size: 16vh;
  }

  .wiki-h3 {
    font-size: 8vh;
  }

  .wiki-btn {
    font-size: 15vh;
  }

  .gslider {
    width: 80vh;
    height: 48vh;
  }

  #links {
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
  }

  .lh1 {
    font-size: 6vh;
    width: 100%;
  }

  .lltl-cont {
    font-size: 6vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .llinktl {
    width: 50%;
  }

  .lltl2 {
    width: 30%;
  }

  .llinktl small {
    font-size: 3vh;
  }

  .llinktl .lsa2 {
    font-size: 18vh;
    text-decoration-thickness: 1%;
  }

  .fl-h1 {
    font-size: 6vh;
  }

  .fl-a {
    font-size: 3vh;
  }
}

@media (orientation: portrait) {
  .main-basic-cont {
    height: 55vh;
  }

  .main-basic-cont {
    font-size: 4vh;
  }

  .wiki-h1 {
    font-size: 16vw;
  }

  .wiki-h3 {
    font-size: 8vw;
  }

  .wiki-btn {
    font-size: 12vw;
  }

  .gslider {
    width: 72vw;
    height: 42vw;
  }

  .gwrapper .gcontrols {
    margin-top: 1vw;
  }

  #links {
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
  }

  .lh1 {
    font-size: 8vw;
    width: 100%;
  }

  .lltl-cont {
    font-size: 8vw;
  }

  .llinktl small {
    font-size: 2.5vw;
  }

  .llinktl .lsa2 {
    font-size: 20vw;
    text-decoration-thickness: 1%;
  }

  #footer {
    flex-direction: column;
  }

  .ftwol {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50%;
  }

  .flinks {
    height: 40%;
  }
}

@media (max-height: 500px) and (orientation: portrait) {
  .wt-p {
    font-size: 4vh;
  }
}

@media (max-width: 1000px) and (orientation: landscape) and (min-height: 500px) {
  .gslider {
    width: 72vw;
    height: 42vw;
  }

  .gslides {
    transform: scale(1.2);
  }
}

@media (max-width: 800px) {
  #nav {
    height: 21vh;
  }
}

@media (max-width: 400px) {
  .main-basic-cont {
    font-size: 3vh;
  }

  .main-phrase {
    font-size: 12vw;
  }

  .wiki-h3 {
    font-size: 10vw;
  }

  .wiki-btn {
    font-size: 12vw;
    padding: 1vw 5vw;
    border: none;
    border-radius: 4vh;
    background: linear-gradient(95deg, #950000 28%, #006197 100%);
    cursor: pointer;
  }

  .gslider {
    width: 90vw;
    height: 52vw;
  }

  .gslides {
    transform: scale(1);
  }

  .gwrapper .gcontrols {
    margin-top: 30vw;
  }

  .gwrapper label {
    margin: 0 4vw;
  }

  .lltl-cont {
    flex-direction: column;
  }

  .llinktl {
    font-size: 4vh;
    width: 100%;
  }

  .llinktl a {
    width: 100%;
  }

  .llinktl small {
    font-size: 4vw;
  }

  .lh3 {
    font-size: 7vw;
  }
}
